.disclaimer-and-features {
  padding: 20px;
}

.disclaimer {
  margin-bottom: 20px;
}

.disclaimer h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

.disclaimer p {
  line-height: 1.6;
  color: #555;
}

.feature-cards {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  box-shadow: #555;
  border-radius: 50px;
  border: 1px solid #c7c4c4;
  padding: 16px;
}

.feature-card {
  text-align: center;
}

.feature-icon {
  width: 250px;
  height: 150px;
  object-fit: contain;
  margin-bottom: 8px;
}